.navbar {
  background-color: white;
  border-radius: 5px;
  height: auto;
  text-align: center;
  width: 100;
  display: flex;
  align-content: center;
  padding: 10px;
}

.logo {
  width: 70px;
  margin-right: 20px;
}

.container {
  color: rgb(0, 175, 245);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.container li {
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
  list-style: none;
}
.container li:hover {
  color: rgb(77, 77, 77);
}

.title * {
  color: #fad02c;
  font-size: 40px;
  font-weight: 700;
  display: inline-flex;
}
.profile {
  height: 60px;
  width: 60px;
  background-color: #cacaca;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.container a {
  color: rgb(0, 175, 245);
  transition: all 0.3s ease;
  text-decoration: none;
}
.container a:hover {
  color: rgb(77, 77, 77);
}
