<div class="container">
  <div class="trajectory-container">
    <div class="time">
      <p>4:30</p>
      <p>4:30</p>
    </div>
    <div class="trajectory">
      <div class="circle"></div>
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <div style="margin-left: 10px">
      <p>Tunis</p>
      <p>Sousse</p>
    </div>
  </div>
  <div class="price">29 DT</div>
  <div style="display: flex; align-items: center; gap: 20px">
    <div class="icon">AC</div>
    Alaa Cherif
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: flex-end;
      margin: 20px;
      font-size: 18px;
    "
  >
    2
  </div>
</div>
