<div (click)="applyToPost()" *ngIf="loaded" class="container">
  <div class="trajectory-container">
    <div class="time">
      <p>{{ post.departs_at | date : "HH:mm" }}</p>
      <p></p>
    </div>
    <div class="trajectory">
      <div class="circle"></div>
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <div style="margin-left: 10px">
      <p>{{ post.start }}</p>
      <p>{{ post.destination }}</p>
    </div>
  </div>
  <div class="price">{{ post.price }} DT</div>
  <div style="display: flex; align-items: center; gap: 20px">
    <div class="icon">
      {{ user.name?.charAt(0) | uppercase
      }}{{ user.lastName?.charAt(0) | uppercase }}
    </div>
    {{ user.name }} {{ user.lastName }}
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: flex-end;
      margin: 20px;
      font-size: 18px;
    "
  >
    {{ post.place_count }}
  </div>
</div>
