.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form {
  width: 50%;
  background-color: #cacaca;
  padding: 40px;
  border-radius: 30px;
  margin: 20px;
  margin-left: 0;
}

.form input {
  border-radius: 15px;
  border: none;
  margin: 15px;
  padding: 10px;
  border: 2px solid white;
  transition: all 0.5 ease;
}
.form input:focus {
  outline: none;
  border: 2px solid #747474;
}
.button-submit {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}
