<app-navbar></app-navbar>
<div class="container">
  <div class="user">
    <div>
      <p>marco</p>
      <p class="lastname">hellal</p>
    </div>
    <img src="../../assets/icons/person-round-svgrepo-com (1).svg" alt="user" />
  </div>
  <div class="separator"></div>
  <div class="credentialsContainer">
    <h2>Your Credentials</h2>
    <div class="credentials">
      <div class="item">
        <img src="../../assets/icons/plus-svgrepo-com.svg" />
        <div>Change your email</div>
      </div>

      <div class="item">
        <img src="../../assets/icons/plus-svgrepo-com.svg" />
        <div>Change your password</div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="credentialsContainer">
    <h2>Your Trips</h2>
  </div>
</div>
