<div class="container">
  <div>
    <img src="../../../assets/icons/map-marker.svg" class="icon" />
    <input type="text" name="departure" placeholder="Departure" />
  </div>
  <div>
    <img src="../../../assets/icons/map-marker.svg" class="icon" />
    <input type="text" name="arrival" placeholder="Arrival" />
  </div>
  <div>
    <img src="../../../assets/icons/map-marker.svg" class="icon" />
    <input type="text" name="arrival" placeholder="Arrival" />
  </div>
  <button>Search</button>
</div>
