<div class="container">
  <form (ngSubmit)="onSubmit(search)" #search="ngForm">
    <div>
      <img src="../../assets/icons/map-marker.svg" class="icon" />
      <input type="text" name="departure" placeholder="Departure" ngModel />
      <div class="line"></div>
    </div>
    <div>
      <img src="../../assets/icons/map-marker.svg" class="icon" />
      <input type="text" name="arrival" placeholder="Arrival" ngModel />
      <div class="line"></div>
    </div>
    <div>
      <img src="../../assets/icons/person-male-svgrepo-com.svg" class="icon" />
      <input type="text" name="passenger" placeholder="Passengers" ngModel />
    </div>
    <!-- <a routerLink="/search" class="button">Search</a> -->
    <button type="submit" class="button">Search</button>
  </form>
</div>
