<div class="container">
  <div>
    <img src="../../assets/icons/map-marker.svg" class="icon" />
    <input type="text" name="departure" placeholder="Departure" />
    <div class="line"></div>
  </div>
  <div>
    <img src="../../assets/icons/map-marker.svg" class="icon" />
    <input type="text" name="arrival" placeholder="Arrival" />
    <div class="line"></div>
  </div>
  <div>
    <img src="../../assets/icons/person-male-svgrepo-com.svg" class="icon" />
    <input type="text" name="passenger" placeholder="Passengers" />
  </div>
  <button class="button">Search</button>
</div>
