<div class="homeContainer">
  <app-navbar></app-navbar>
  <h1 class="title">Travelling has never been easier</h1>
  <app-search-form></app-search-form>
</div>
<div class="perks">
  <div>
    <img
      src="../../assets/icons/money-total-line-svgrepo-com.svg"
      class="icon"
    />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      veniam animi ea reiciendis rerum qui sunt rem laboriosam ex expedita, et
      nemo culpa vero obcaecati voluptas quod. Recusandae, perspiciatis alias?
    </p>
  </div>
  <div>
    <img src="../../assets/icons/certificate-svgrepo-com.svg" class="icon" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      veniam animi ea reiciendis rerum qui sunt rem laboriosam ex expedita, et
      nemo culpa vero obcaecati voluptas quod. Recusandae, perspiciatis alias?
    </p>
  </div>
  <div>
    <img src="../../assets/icons/lightning-svgrepo-com.svg" class="icon" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      veniam animi ea reiciendis rerum qui sunt rem laboriosam ex expedita, et
      nemo culpa vero obcaecati voluptas quod. Recusandae, perspiciatis alias?
    </p>
  </div>
</div>
<div class="bonus">
  <img
    src="../../assets/images/vecteezy_male-feel-so-happy-after-get-a-money-from-online-business_.jpg"
  />
  <div class="description">
    <h2>Save Money During Weekends</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem
      quae vel rem. A ducimus, aspernatur laborum reprehenderit iure ut sed
      dolorum labore exercitationem odio voluptatibus, harum quas molestiae
      eaque accusamus?
    </p>
  </div>
</div>
<div class="bonus">
  <div class="description2">
    <h2>Easy Access Through Smartphone</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem
      quae vel rem. A ducimus, aspernatur laborum reprehenderit iure ut sed
      dolorum labore exercitationem odio voluptatibus, harum quas molestiae
      eaque accusamus?
    </p>
  </div>
  <img
    src="../../assets/images/vecteezy_young-boy-holding-smartphone-with-blank-screen-closeup-of_7098785-removebg-preview.png"
  />
</div>
<app-footer></app-footer>
