<div class="homeContainer">
  <app-navbar></app-navbar>
  <h1 class="title">Travelling has never been easier</h1>
  <app-search-form></app-search-form>
</div>
<div class="perks">
  <div>
    <img
      src="../../assets/icons/money-total-line-svgrepo-com.svg"
      class="icon"
    />
    <h4>Your favorite trips at low prices</h4>
    <p>
      Wherever you are going, by bus or carpooling, find the ideal route from
      our wide choice of destinations at low prices.
    </p>
  </div>
  <div>
    <img src="../../assets/icons/certificate-svgrepo-com.svg" class="icon" />
    <h4>Travel with confidence</h4>
    <p>
      We take the time to get to know our members. We check reviews, profiles
      and IDs. So you know who you are going to travel with to book with
      confidence on our secure platform.
    </p>
  </div>
  <div>
    <img src="../../assets/icons/lightning-svgrepo-com.svg" class="icon" />
    <h4>Search, click and book!</h4>
    <p>
      Booking a trip becomes even easier! Easy to use and equipped with advanced
      technologies, our app allows you to book a trip nearby in no time.
    </p>
  </div>
</div>
<div class="bonus">
  <img
    src="../../assets/images/vecteezy_male-feel-so-happy-after-get-a-money-from-online-business_.jpg"
  />
  <div class="description">
    <h2>Save Money During Weekends</h2>
    <p>
      Attention Hitchers! Are you looking for a great deal with your favorite
      driver? Look no further! Every weekend, we're offering a massive 30% off
      all trips From Friday to Sunday, take advantage of this amazing offer and
      save big. So mark your calendars and head on over to your favourite places
      every weekend to take advantage of this deal. Don't miss out on this
      opportunity to save big on your purchases. See you soon!
    </p>
  </div>
</div>
<div class="bonus">
  <div class="description2">
    <h2>Easy Access Through Smartphone</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem
      quae vel rem. A ducimus, aspernatur laborum reprehenderit iure ut sed
      dolorum labore exercitationem odio voluptatibus, harum quas molestiae
      eaque accusamus?
    </p>
  </div>
  <img
    src="../../assets/images/vecteezy_young-boy-holding-smartphone-with-blank-screen-closeup-of_7098785-removebg-preview.png"
  />
</div>
<app-footer></app-footer>
